@model List<AcunMedyaMenu.Entities.Product>
@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Views/Shared/DashboardLayout/_DashboardLayout.cshtml";
}

<div class="container mt-10 pt-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Ürün Listesi</h4>
                <form method="get" action="@Url.Action("CreateProduct", "Product")" class="ms-auto">
                    <button type="submit" class="btn btn-primary btn-round">
                        <i class="fa fa-plus"></i> Ekle
                    </button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="product-table" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Ürün Adı</th>
                            <th>Açıklama</th>
                            <th>Resim Url</th>
                            <th>Kategori</th>
                            <th>Fiyat</th>
                            
                            <th style="width: 10%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Description</td>
                                <td><img src="@item.ImageUrl" style="width: 60px; height: 60px;" /></td>
                                <td>@item.Category.CategoryName</td>
                                <td>@item.Price ₺</td>
                               
                                <td>
                                    <div class="form-button-action">
                                        <a href="@Url.Action("UpdateProduct", "Product", new { id = item.ProductId })" class="btn btn-link btn-primary btn-lg" data-bs-toggle="tooltip" title="Güncelle">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("DeleteProduct", "Product", new { id = item.ProductId })" class="btn btn-link btn-danger" data-bs-toggle="tooltip" title="Sil">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        @if (item.Status)
                                        {
                                            <form method="post" action="@Url.Action("ToggleStatus", "Product")" class="d-inline">
                                                <input type="hidden" name="productId" value="@item.ProductId" />
                                                <button type="submit" class="btn btn-link btn-success" data-bs-toggle="tooltip" title="Pasif Yap">
                                                    <i class="fa fa-toggle-on"></i>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" action="@Url.Action("ToggleStatus", "Product")" class="d-inline">
                                                <input type="hidden" name="productId" value="@item.ProductId" />
                                                <button type="submit" class="btn btn-link btn-warning" data-bs-toggle="tooltip" title="Aktif Yap">
                                                    <i class="fa fa-toggle-off"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
