@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DashboardLayout/_DashboardLayout.cshtml";
}

<div class="container mt-10 pt-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">İstatistikler </h4>
                
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @* Ürün Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-primary bubble-shadow-small">
                                        <i class="fas fa-box"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Ürün Sayısı</p>
                                        <h4 class="card-title">@ViewBag.productCount</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Aktif Ürünler *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-info bubble-shadow-small">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Ürünler</p>
                                        <h4 class="card-title">@ViewBag.activeProductCount</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Ortalama Fiyat *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-success bubble-shadow-small">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Ortalama Fiyat</p>
                                        <h4 class="card-title">@ViewBag.avgProductPrice.ToString("0.00") ₺</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Şef Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Şef Sayısı</p>
                                        <h4 class="card-title">@ViewBag.ChefCount</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Aktif Şefler *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-info bubble-shadow-small">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Şefler</p>
                                        <h4 class="card-title">@ViewBag.activeChefs</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Yorum Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-success bubble-shadow-small">
                                        <i class="fas fa-comments"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Yorum Sayısı</p>
                                        <h4 class="card-title">@ViewBag.testimonialcount</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Mesaj Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Mesaj Sayısı</p>
                                        <h4 class="card-title">@ViewBag.message</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Kategori Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-primary bubble-shadow-small">
                                        <i class="fas fa-list"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Kategori Sayısı</p>
                                        <h4 class="card-title">@ViewBag.category</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Sosyal Medya Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-info bubble-shadow-small">
                                        <i class="fas fa-share-alt"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Sosyal Medya Sayısı</p>
                                        <h4 class="card-title">@ViewBag.socialmedia</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Sipariş Sayısı *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-success bubble-shadow-small">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Sipariş Sayısı</p>
                                        <h4 class="card-title">@ViewBag.orders</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Son 30 Gün Sipariş Geliri *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Son 30 Gün Sipariş Geliri</p>
                                        <h4 class="card-title">@ViewBag.orderswTotalPrice ₺</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Son 12 Ay Sipariş Geliri *@
                <div class="col-sm-6 col-md-3">
                    <div class="card card-stats card-round">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-primary bubble-shadow-small">
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ms-3 ms-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Son 12 Ay Sipariş Geliri</p>
                                        <h4 class="card-title">@ViewBag.ordersw ₺</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
